<button type="submit" class="btn btn-primary btn-round" data-toggle="modal" data-target="#cmptModal">Add Mission</button>

<div class="modal fade" id="cmptModal" tabindex="-1" aria-labelledby="cmptModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="row">
            <div class="col-md-12">
            <div class="card card-user">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalLabel" #modal>Select Competence</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>           
                <div class="modal-body">
                <ul class="competence-container" >
                                          
                </ul>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-round " >Affecter</button>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
</div>