<div class="container">
    <div class="edit-Area">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-user">
                    <div class="card-header">
                        <h5 class="card-title">Edit Mission</h5>
                    </div>
                    <div class="card-body">
                        <form #f="ngForm" action=""> 
                            <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" placeholder="Title" id="title" name="title" #title="ngModel" [(ngModel)]="mission.title" required minlength="3">
                                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                                    <div *ngIf="title.errors?.['required']">Title is required</div>
                                    <div *ngIf="title.errors?.['minlength']">Title must have at least 3 characters</div>
                                </div>
                                </div>
                            </div>
                            </div>         
                            <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                <label for="dateDebut">Start Date</label>
                                <input type="datetime" class="form-control" placeholder="Start Date" id="dateDebut" name="dateDebut" #title="ngModel" [(ngModel)]="mission.dateDebut">
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                <label for="dateFin">End Date</label>
                                <input type="datetime" class="form-control" placeholder="dateFin" id="dateFin" name="dateFin"  #title="ngModel" [(ngModel)]="mission.dateFin">
                                </div>
                            </div>
                            </div>                
                            <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                <label for="location">Location</label>
                                <input type="text" class="form-control" placeholder="Location" id="location" name="location" #location="ngModel" [(ngModel)]="mission.location" required minlength="3">
                                <div class="alert alert-danger" *ngIf="location.touched && location.invalid">
                                    <div *ngIf="location.errors?.['required']">Location is required</div>
                                    <div *ngIf="location.errors?.['minlength']">Location must have at least 3 characters</div>
                                </div>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                <label for="description">Description</label>
                                <textarea id="description" name="description"  class="form-control textarea" #location="ngModel" [(ngModel)]="mission.description" required minlength="3">Describe and sharer your mission </textarea>
                                <div class="alert alert-danger" *ngIf="location.touched && location.invalid">
                                    <div *ngIf="location.errors?.['required']">Description is required</div>
                                    <div *ngIf="location.errors?.['minlength']">Description must have at least 3 characters</div>
                                </div>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button type="submit" class="btn btn-primary btn-round" (click)="editMission()">Edit Mission</button>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
