<div class="container" >    
    <div class="row">
        <div class="col-md-8">
            <div class="card card-user">
                <div class="card-header">
                <h5 class="card-title text-center">Enter your email</h5>
                </div>
                <div class="card-body">                    
                <form #f="ngForm" action="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" placeholder="User@yahoo.fr" id="email" name="email" #email="ngModel" [(ngModel)]="emailToSend" required>
                            <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                                <div *ngIf="email.errors?.['required']">Email is required</div>                              
                            </div>  
                            </div>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round" [routerLink]="['/admin/login']">Back</button>
                            <button type="submit" class="btn btn-primary btn-round" [disabled]="f.invalid" (click)="forgotPassword()">Send Mail</button>                            
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>