<div class="row">
    <div class="col-lg-12">
      <div class="shop-reviews mt-60">
   

        
        <!-- nav -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active cursor-pointer"
           
            aria-labelledby="description-tab"
          >
            <div  class="description-cont pt-40">
            </div >
          </div>
          <!-- row -->
          <div>
            <div class="container mt-5">
              <div class="row">
                <div class="col-md-8 mx-auto">
                  <div class="comment-section">
                    <div *ngFor="let com of produit.comments; let i=index" class="comment">
                      <div class="comment-header">
                        <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="55" height="55">
                        <div class="user-info ml-2">
                          <span class="font-weight-bold name">{{u.firstName}}</span>
                          <span class="date text-black-50"></span>
                        </div>
                        
                      </div>
                      <div class="comment-body">
                        <div class="form-outline">
                        <div *ngIf="(edit==true && i==j); else noedit">
                          <textarea class="form-control" id="textAreaExample" rows="4" [(ngModel)]='com.comment' required></textarea>
                          
                        </div>
                        </div>
                        <ng-template #noedit>
                          <p class="comment-text">{{com.comment}}</p>
                        </ng-template>
                      </div>
                      <div class="comment-footer">
                      
               
                        <div class="like">
                          <i class="bi bi-heart"></i>
                          <button type="button" class="btn btn-outline-danger"
                                  aria-pressed="false" autocomplete="off" (click)="likeModifyCom(com,produit)">
                            {{com.likes}}
                            <i class="fa fa-heart col-red"></i>
                          </button>
                        </div>
                        
                        <div *ngIf="edit==false && com.idClient==1" class="edit">
                          <button class="btn btn-outline-success" (click)="eventEdit(i)">Edit</button>
                        </div>
                        <div *ngIf="edit==false && com.idClient==1" class="delete">
                          <button class="btn btn-outline-danger" (click)="deleteCom(com)">Delete</button>
                        </div>
                        <div *ngIf="edit==true && i==j" class="save">
                          <button type="button" class="btn btn-outline-secondary" (click)="modifyCom(com,produit)">Save</button>
                        </div>
                      </div>
                    </div>
                    <div class="add-comment">
                      <div class="comment-header">
                        <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                        <textarea class="form-control ml-1 shadow-none textarea" [(ngModel)]='str'> </textarea>
                        
                      </div>
                      <div class="comment-footer">
                        <button  class="btn btn-primary btn-sm" type="button" (click)="addCom(produit)"
                                [disabled]="edit==true">Post comment</button>
                                <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
          <!-- row -->
        </div>
        <!-- tab-content -->
      </div>
      <!-- shop reviews -->
    </div>
  </div>
