<div class="container" >    
    <div class="row">
        <div class="col-md-8">
            <div class="card card-user">
                <div class="card-header">
                <h5 class="card-title text-center">Enter your new password</h5>
                </div>
                <div class="card-body">                    
                <form #f="ngForm"  (ngSubmit)="resetPassword(password.value)">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" #password >
                           <!-- <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                                <div *ngIf="password.errors?.['required']">Password is required</div>                                
                               <div *ngIf="password.errors?.['minLength']">Password must have at least 4 characters</div>                              
                               <div *ngIf="password.errors?.['maxLength']">Password must not depass 16 characters</div>                             
                            </div>    -->                   
                            </div>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round" >Change password</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>