<!DOCTYPE html>
<html lang="en">
    
    <body>
    
        <app-header></app-header>

        <div class="divider col-sm-12 col-xs-12 col-md-12">
            <div class="header-text"><span>Blog</span> News</div>
          </div>
      
                  <section class="blog" *ngFor="let ar of listArticles">
                      <div class="item col-md-4">
                 <div class="blok-read-sm">
                   <a href="#" class="hover-image">
                      <img  src="{{this.as.apiUrl+'/Imgarticle/'+ar.id}}" image>
                      <span class="layer-block"></span>
                   </a>
                    
                  <div class="content-block">
                    <span class="point-caption bg-blue-point"></span>
                    <span class="bottom-line bg-blue-point"></span>
                      <h4>{{ar.title}}</h4>
                      <div class="button-main bg-fio-point" [routerLink]="['/SingleArticle',ar.id]"class="btn btn-primary">read more &rarr;</div>
                       
                       
                      </div>
                  </div>
                </div>
                  
                  </section>
      

                  <div class="divider col-sm-12 col-xs-12 col-md-12">
                    <div class="header-text">Our <span>Testimonials</span></div>
                  </div>
                  <section class="testimonial">
                    <div class="col-md-7 testimonial-blog">
                       <div id="wrapper">
                      <!-- DEMO -->
                          <div class="testimonials-slider">
                            <div class="slide">
                              <div class="testimonials-carousel-thumbnail"><img width="120" alt="" src="images/team1.jpg"></div>
                                <div class="testimonials-carousel-context">
                                  <div class="testimonials-name">
                                    Rub elvi <span>shuvohabib.com</span>
                                  </div>
                                  <div class="testimonials-carousel-content">
                                    <p>Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo.Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo.</p>
                                  </div>
                                </div>
                              </div>
          
                              <div class="slide">
                                <div class="testimonials-carousel-thumbnail">
                                  <img width="120" alt="" src="images/team2.jpg">
                                </div>
                                <div class="testimonials-carousel-context">
                                  <div class="testimonials-name">Jewel Jahan <span>technextit.com</span>
                                  </div>
                                  <div class="testimonials-carousel-content">
                                  <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo.</p>
                                  </div>
                                </div>
                              </div>
          
                                <div class="slide">
                                  <div class="testimonials-carousel-thumbnail"><img width="120" alt="" src="images/team3.jpg"></div>
                                    <div class="testimonials-carousel-context">
                                      <div class="testimonials-name">Mark Zuckerberg<span>www.Facebook.com</span></div>
                                        <div class="testimonials-carousel-content">
                                          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal..</p>
                                        </div>
                                      </div>
                                </div>
                              </div>
                           <!-- END DEMO -->
                            <div class="clearfix"></div>
                          </div>
                        </div>
                        <div class="col-md-4 subscribe-form">
                          <div class="subscribe">
                            <h4>Subscribe to Newsletter</h4>
                              <div class="email-field">
                                  <form action="http://demo.nrgthemes.com/">
                                         <div class="email-input">
                                            <input type="email" placeholder="Enter your email..." required>
                                            <i class="fa fa-check col-green"></i>
                                         </div>
                                    <button type="submit" class="button-main bg-green">Submit</button>
                                  </form>
                                    <span>We never spam :)</span>
                              </div>
                            </div>
                          </div>
                        </section>
          
    

    <!-- ============FOOTER============= -->
<footer id="footer"> 
        <div class="footer-content container">
            <div class="footer-adress text-center col-xs-12 col-sm-4 col-md-4">
                <h4>Great love for humanity</h4>
                <ul class="footer-menus">
                  <li>Home /</li>
                  <li>About </li><br />
                  <li>Service /</li>
                  <li>Gallery /</li>
                  <li>Contact</li>
                </ul>
            </div>
            <div class="footer-second col-xs-12 col-sm-4 col-md-4">
              <div class="social-block text-center">
                <div class="social-share">
                  <i class="fa fa-2x fa-facebook"></i>
                  <i class="fa fa-2x  fa-twitter"></i>
                  <i class="fa fa-2x  fa-google-plus"></i>
                  <i class="fa fa-2x  fa-instagram"></i>
                </div>
              </div>
               <p class="text-center footer-text1">123 456 7890</p>
                <p class="text-center footer-text">humanity@shuvohabib.com</p></div>
            <div class="footer-third col-xs-12 col-sm-4 col-md-4">
              <div class="copyright">
                  <span>Copyright 2014 Theme</span><br>
                  <span>All Rights Reserved</span>
              </div>
            </div>
        </div>
        <div class="move-top-page">
      </div>
    </footer>

  <!-- script references -->
    <script src="../../../assets/front/js/jquery.min.js"></script>
    <script src="../../../assets/front/js/bootstrap.min.js"></script>
    <script src="../../../assets/front/js/nav-hover.min.js"></script>
    <script type="text/javascript" src="../../../assets/front/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="../../../assets/front/js/main.js"></script>
    <!-- Place in the <head>, after the three links -->
    <script>
     $('.testimonials-slider').bxSlider({
      slideWidth: 800,
      minSlides: 1,
      maxSlides: 1,
      slideMargin: 32,
      auto: true,
      autoControls: true
      });
    </script>
    <script type="text/javascript">
    </script>
  </body>
</html>
