.add-Area{
    padding: 100px 70px 10px;
}
.competence {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 2px solid #0077B5;
    border-radius: 20px;
    color: #0077B5;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .competence.selected {
    background-color: #0077B5;
    color: #FFFFFF;
  }
  
  .competence:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #0077B5 transparent;
  }

  .Modal-Area {
    padding: 50 50 50px;
  }

  li.selected {
    display: flex;
  }